<nav class="navbar">
	<div class="titulo">
		<a class="titulo__logo" href="/"><h1 class="logo">des<span class="logo--destaque">pensa</span></h1></a>
		<p class="titulo__chamada">Organização de Compras</p>
	</div>
	<ul class="menu">
		<li class="menu__link"><a href="/compras">Compras</a></li>
		<li class="menu__link"><a href="/cadastro">Adicionar Produto</a></li>
	</ul>
</nav>